
hr {background-color: none;
    border-style: dotted none none;
    border-width: 10px ;
    border-color:darkgreen;
    height: 0px;
    width: 30%;
    margin-top: 2%;
    }
    


    h1 {
        background-color: #e4f9f5;
        color:darkgreen;
        border-radius: 0%;
        text-align: center;
        width: 100%;
    }

     h1:hover{background-color: aquamarine;}
    

img{ 
width: 60%;
border-radius:5%;
border-width: 6px;
border-style:solid;
border-color:white}

img:hover
{
         border-radius:1% ;


}

.intro {width:60%}


.myimg {width:100%;
border-radius: 100%;
}

.myimg:hover {border-radius: 25%;
}

body {

    background-color: white;
    text-align: center;


}



    form {

        border-style: none;
        border-color: lightcoral;
        border-width: 5px;
        border-radius: 5%;
        background-color:#e4f9f5;
        width: 80%;
    }


 p {
    text-align: center;
    width: 75%;
    color: darkgreen;

 }




 ul {
    width:70%;
    text-align: left;
 }

 .mainul {

  width:80%;
  text-align: left;
  color: darkgreen;
  margin: 5%;



 }





 .top {
    
    height: 30%;
    width: 100%;
 background-color:#f0f2b6;
 border-style: ridge;
 border-width: 0px ;
 border-color: darkgreen;
 padding: 0%;
margin: 0%;

 }

 .toppest {
    
    height: 0px;
    width: 100%;
 background-color:#e4f9f5;
 border-style: ridge;
 border-width: 0px ;
 border-color: darkgreen;
 padding: 1px;
margin: 0%;

 }


 .centerone {
    height: 100%;
    width: 100%;
    background-color: lightyellow;

   
  ;

 }

 .me {

margin-top: 0%;
margin-bottom: 0%;
width: 100%;
background-color: #f0f2b6;
}


.me:hover{
    background-color: #e4f9f5;
    

}




 .ibottom {

    margin-top: 5%;
    
    margin-bottom: 0%;
    width: 100%;
    font-style: italic;
   
    
 }

table {
    
     text-align: center;
width: 80%;
height: 100%;
padding: 0%;
border-style: solid;
border-width: 0px;
border-color: darkolivegreen;
border-radius: 1%;
background-color: #f2f2f2;
}



.maintab
{
border-style: none;
border-radius: 7%;
background-color:#e0f3fb;
padding: 0%;
margin-right:0% ;
width: 90%;



}



.hilight {

background-color: #64faff;
border-radius: 6%;


}

.mecenter{

   background-color:lightyellow;
   margin: 0%;
}


.centertwo{
   
   height: 100%;
   width: 100%;
background-color:#f2f2f2;
border-style: ridge;
border-width: 0px ;
border-color: darkgreen;
padding: 2px;
margin: 0%;
}



.centerthree{
   
   height: 100%;
   width: 100%;
background-color:#9cd3d8;
border-style: ridge;
border-width: 0px ;
border-color: darkgreen;
padding: 1px;
margin: 0%;
}

h2 
{
   color: darkgreen;
}

.bottom {
   background-color:rgb(250, 255, 238);
}

.subsimg {
   width: 30%;
}
