
hr {background-color: none;
    border-style: dotted none none;
    border-width: 10px ;
    border-color:darkgreen;
    height: 0px;
    width: 50%;
    margin-top: 2%;
    }
    


    h1 {
        background-color: #e4f9f5;
        color:darkgreen;
        border-radius: 0%;
        text-align: center;
        width: 100%;
    }

     h1:hover{background-color: rgb(212, 251, 238);}
    

img{ 
width:80%;
;
border-radius:11%;
border-width: 0px;
border-style:solid;
border-color:white}


body {

    background-color: white;
    text-align: center;


}



    form {

        border-style: none;
        border-color: lightcoral;
        border-width: 5px;
        border-radius: 5%;
        background-color:#e4f9f5;
        width: 80%;
    }


 p {
    text-align: center;
    width: 92%;
    color: darkgreen;
    line-height: 1.5

 }




 ul {
    width:80%;
    text-align: left;
 }

 .mainul {

  width:90%;
  text-align: left;
  color: darkgreen;
  margin-right: 5%;
  padding-right: 5%;
padding-top: 1%;
padding-bottom: 1%;



 }





 .btn {
   -webkit-border-radius: 28;
   -moz-border-radius: 28;
   border-radius: 28px;
   -webkit-box-shadow: 0px 0px 30px #7585ff;
   -moz-box-shadow: 0px 0px 30px #7585ff;
   box-shadow: 0px 0px 30px #7585ff;
   font-family: Arial;
   color: #ffffff;
   font-size: 15px;
   background: #a3aeff;
   padding: 20px 20px 20px 20px;
   text-decoration: none;
   font-weight: bolder;
 }
 
 .btn:hover {
   background: #8891eb;
   text-decoration: none;
   font-weight: bolder;
 }





 .top {
    
    height: 30%;
    width: 100%;
 
 border-style: ridge;
 border-width: 0px ;
 border-color: darkgreen;
 padding: 0%;
margin: 0%;

 }

 .toppest {
    
    height: 0px;
    width: 100%;

 border-style: ridge;
 border-width: 0px ;
 border-color: darkgreen;
 padding: 1px;
margin: 0%;

 }


 .centerone {
    height: 100%;
    width: 100%;
    

   
  ;

 }

 .me {

margin-top: 0%;
margin-bottom: 0%;
width: 100%;
background-color:  #e4f9f5;
padding: 5% 0% 5% 0% ;
}






 .ibottom {

    margin-top: 5%;
    
    margin-bottom: 0%;
    width: 95%;
    font-style: italic;
   
    
 }

table {
 
width: 90%;
height: 100%;
padding: 0%;
border-style: solid;
border-width: 0px;
border-color: darkolivegreen;
border-radius: 1%;
background-color: #f2f2f2;
}



.maintab
{
border-style: none;
border-radius: 0%;
background-color:#e0f3fb;
padding-right: 7%;
padding-top: 5%;
padding-bottom: 5%;
margin-right:0% ;
width: 95%;
line-height: 1.5;

 

}
.maintab:hover 

{background-color: rgb(230, 255, 247);}



.maintab2
{
border-style: none;
border-radius: 0%;
background-color:white;
padding-left: 10%;
padding-top: 5%;
padding-bottom: 5%;
margin-right:0% ;
width: 95%;
line-height: 1.5;

 
}


.hilight {

background-color: #64faff;
border-radius: 6%;


}

.mecenter{

   background-color: #e4f9f5;
   margin: 0%;
   padding: 7% 0% 7% 0%;
}


.centertwo{
   
   height: 100%;
   width: 100%;
background-color:#f2f2f2;
border-style: ridge;
border-width: 0px ;
border-color: darkgreen;
padding: 2px;
margin: 0%;
}



.centerthree{
   
   height: 100%;
   width: 100%;
background-color: white;
border-style: ridge;
border-width: 0px ;
border-color: darkgreen;
padding: 1px;
margin: 0%;
}

h2 
{   

   color: darkgreen;
}

.bottom {
   background-color:#f2f2f2;
}

.subsimg {
    
    
    
    
    
    
    
    
    
    
    
    
   width: 30%;
}

h3 {background-color: rgb(230, 255, 247);
    color: darkgreen;
   padding: 4%;}



.ibottom2  { color: darkgreen;
    text-align: left;

    font-weight: bold;

    line-height: 1.5;


}


h4     {
   color: darkgreen;
  padding: 2%;
 text-align: left;
  width: 80%;
}






.btn2 {
   -webkit-border-radius: 60;
   -moz-border-radius: 60;
   border-radius: 60px;
   -webkit-box-shadow: 0px 3px 30px #ff0000;
   -moz-box-shadow: 0px 3px 30px #ff0000;
   box-shadow: 0px 3px 30px #ff0000;
   font-family: Arial;
   color: #ffffff;
   font-size: 14px;
   background: #ff2121;
   padding: 20px 20px 20px 20px;
   text-decoration: none;
   font-weight: bolder;
 }
 
 .btn2:hover {
   background: #ff520d;
   text-decoration: none;
   font-weight: bolder;
 }

 .btn3 {
   -webkit-border-radius: 60;
   -moz-border-radius: 60;
   border-radius: 60px;
   -webkit-box-shadow: 0px 0px 30px #ffea00;
   -moz-box-shadow: 0px 0px 30px #ffea00;
   box-shadow: 0px 0px 30px #ffea00;
   font-family: Arial;
   color: #ffffff;
   font-size: 15px;
   background: #ffc400;
   padding: 20px 20px 20px 20px;
   text-decoration: none;
 }
 
 .btn3:hover {
   background: #fccf3c;
   text-decoration: none;
 }


 .instaimg

 { width: auto;
   max-width: 100%;
margin-right: 7%;}






.myimg  { width: auto;
   max-width: 85%;
margin-left: 7%;
margin-right: 0%;
border-radius: 20%;
position: relative; left:7%;
}

.myimg:hover {border-radius: 100%;}

.foot {text-align: center;}



.snapimg {width: auto;
   max-width: 100%;}
