.layers {width:90%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 7px;
        background-color: whitesmoke;
    padding: 10px;}









.layers img { width: 24% ;
              max-width: 300px;
               min-width: 200px;
               margin:10px;
               border-style: solid;
               padding:10px;
               border-width: 1px;
            border-radius: 7px;
            transition :all ease 1600ms ;
            transform-style: preserve-3d;
            transform: rotateX('50deg')
            rotateY('20deg') rotateZ('30deg')}
               
            
               
               
               
 body {overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;}
               
               
               
               
               
               
section {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     }







.one { padding: 10px 15px;
    box-shadow: 0px 0px 30px aquamarine;
         border-radius: 3px;
        color: aliceblue; 
        background-color: aqua;
        font-weight: 800;      }



.two { 
        position: relative;
        border-style: solid;
        color: white;
        padding: 10px 15px;
        border-color: orangered;
        background-color: orangered;
        font-weight: 800;
        border-radius: 7px;
        box-shadow: -7px 7px 0px rgb(255, 172, 123);
}

.two:hover {background-color: rgb(255, 102, 0);}

.two:active {position: relative;
           top:3px;
        right: 4px;
        box-shadow: -3px 4px 0px rgb(255, 172, 123);
        background-color: whitesmoke;
                border-width: 2px;
                border-color: orangered;
                border-style:  solid;
                background-color: white;
                color:orangered}




.three { 
    position: relative;
    border-style: solid;
    color: white;
    padding: 10px 25px 10px 10px;
    border-color: orangered;
    background-color: orangered;
    font-weight: 800;
    border-radius: 7px;}


.three::after {
    position: absolute;
    top:30%;
    content:__;
    transition: all ease 0.3 sec;
opacity: 0;}